<%- include('../includes/head.ejs') %>

<body>
<!-- HEADER -->
<%- include('../includes/admin/header_admin.ejs') %>
<!-- CONTENT -->
<main>
    <div class="container">
        <h1>Welcome <%= user.email %>!</h1>
        <p>Click <a class="link blue-text" href="/view_tickets">here</a> to start.</p>
        <h3>Dashboard</h3>
        <div class="container pb-3 ps-0">
            <% if(user.tipo == 'staff') { %>
                <div class="row">
                    <div class="col-sm">
                        <canvas id="myChart" class="pie-dimension"></canvas>
                    </div>
                    <div class="col-sm">
                        <canvas id="lineChartPerMonth" class=""></canvas>
                    </div>
                </div>
            <% } else { %>
                <p>Users staff see a pie chart and a line chart.</p>
            <% } %>
        </div>
    </div>
</main>
<!-- FOOTER -->
<%- include('../includes/admin/footer_admin.ejs') %>
<!-- SCRIPTS-->
<%- include('../includes/scripts.ejs') %>
<script src="/js/charts.js"></script>
</body>

</html>