<%- include('../includes/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('../includes/admin/header_admin.ejs') %>
            <!-- CONTENT -->
            <main>
                <div class="container">
                    <h1>Bentornato <%= user.email %>!</h1>
                    <p>Click <a class="link blue-text" href="/view_tickets">here</a> to start.</p>
                    <h4>Dashboard</h4>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('../includes/admin/footer_admin.ejs') %>
                <!-- SCRIPTS-->
                <%- include('../includes/scripts.ejs') %>
    </body>

    </html>