<%- include('../includes/head.ejs') %>

<body>
<!-- HEADER -->
<%- include('../includes/admin/header_admin.ejs') %>
<!-- CONTENT -->
<main>
    <div class="container">
        <h1>Welcome <%= user.email %>!</h1>
        <h4>Admin page</h4>
        <section>
            <a class="link blue-text" href="/update-user">Update user</a>
        </section>
        <h4 class="mt-3">User page</h4>
        <section>
            <a class="link blue-text" href="/">Home user</a>
        </section>
        <section>
            <a class="link blue-text" href="/admin">Home staff</a>
        </section>
    </div>
</main>
<!-- FOOTER -->
<%- include('../includes/admin/footer_admin.ejs') %>
<!-- SCRIPTS-->
<%- include('../includes/scripts.ejs') %>
</body>

</html>