<%- include('../includes/head.ejs') %>

<body>
<!-- HEADER -->
<%- include('../includes/admin/header_admin.ejs') %>
<!-- CONTENT -->
<main>
    <div class="container">
        <h1>Update user</h1>
        <% if (all_users.length === 0) { %>
            <p>There are no user.</p>
        <% } else { %>
            <section>
                <h4>Search user</h4>
                <form action="/update-user" method="get">
                    <label class="bold me-2" for="email">Search user by email: </label>
                    <input class="shadow-box border in-w me-2" id="email" name="email" type="text"
                           autocomplete="email"
                           required>
                    <input class="send-button ms-2" name="operation_type" type="submit" value="Search user"
                           title="Search user by email.">
                </form>
                <% if (searched_user !== undefined) { %>
                    <% if (searched_user.length === 0) { %>
                        <p class="error">No users found.<%= searched_user %> </p>
                    <% } else { %>
                        <p class="check">Users found: <%= searched_user.length %></p>
                        <div class="container text-left pb-2 ps-0 pe-3">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th scope="col"><h5>Email</h5></th>
                                    <th scope="col"><h5>User type</h5></th>
                                    <th scope="col"><h5>Update user</h5></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% searched_user.forEach(function(all_searched_user) { %>
                                    <form action="/update-user?_method=PUT" method="post">
                                        <tr>
                                            <th scope="row">
                                                <%= all_searched_user.email %>
                                                <input type="hidden" value="<%= all_searched_user.email %>" id="email"
                                                       name="email">
                                            </th>
                                            <th scope="row">
                                                <label class="bold me-3" for="user_type">User type: </label>
                                                <select class="shadow-box border select-style" name="user_type"
                                                        id="user_type"
                                                        required>
                                                    <% roles.forEach(function(role) { %>
                                                        <option class="option-style"
                                                                value="<%= role.tipo %>" <%= role.tipo === all_searched_user.tipo ? "selected" : null %>>
                                                            <%= role.tipo %>
                                                        </option>
                                                    <% }); %>
                                                </select>
                                            </th>
                                            <th scope="row">
                                                <input class="send-button mb-3" name="operation_type"
                                                       type="submit"
                                                       value="Update user"
                                                       title="Save changes.">
                                            </th>
                                        </tr>
                                    </form>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                <% } %>
            </section>
            <section>
                <h4>All users</h4>
                <div class="container text-left pb-5 ps-0 pe-3">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col"><h5>Email</h5></th>
                            <th scope="col"><h5>Opened tickets</h5></th>
                            <th scope="col"><h5>Closed tickets</h5></th>
                            <th scope="col"><h5>User type</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% all_users.forEach(function(single_user) { %>
                            <tr>
                                <th scope="row"><%= single_user.email %></th>
                                <th scope="row"><%= single_user.opened_tickets %></th>
                                <th scope="row"><%= single_user.closed_tickets %></th>
                                <th scope="row"><%= single_user.tipo %></th>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </section>
        <% } %>
    </div>
</main>
<!-- FOOTER -->
<%- include('../includes/admin/footer_admin.ejs') %>
<!-- SCRIPTS-->
<%- include('../includes/scripts.ejs') %>
</body>

</html>