<%- include('../includes/head.ejs') %>

<body>
<!-- HEADER -->
<%- include('../includes/super_admin/super_admin_header.ejs') %>
<!-- CONTENT -->
<main>
    <div class="container">
        <h1>Bentornato <%= user.email %>!</h1>
        <p>Click <a class="link blue-text" href="/view_tickets">here</a> to start.</p>
        <h3>Dashboard</h3>
    </div>
</main>
<!-- FOOTER -->
<%- include('../includes/super_admin/super_admin_footer.ejs') %>
<!-- SCRIPTS-->
<%- include('../includes/scripts.ejs') %>
</body>

</html>