<%- include('includes/head.ejs') %>

<body>
  <!-- HEADER -->
  <%- include('includes/header.ejs') %>
  <!-- CONTENT -->
  <main>
    <div class="container">
      <% if(!description_content) { %>
      <!-- TITLE -->
      <h2>Community</h2>
      <p>Here you can find all the tickets opened by users along with the resolution of the issue!</p>
      <!-- SEARCH BAR -->
      <form id="search-description" action="/community" method="get">
        <section class="mb-4">
          <input class="w-75 area-style border me-4 mt-3" name="description" id="description" type="text" placeholder="Insert a question description...">
          <button class="send-button font mt-3" id="search-quetsion" type="submit">Search question</button>
        </section>
      </form>
      <!-- SEARCHED TICKET AND DESCRIPTION -->
      <% if(searched_content) { %>
      <section>
        <% if(searched_content.length === 0) { %>
        <p class="error">There are no question...</p>
        <% } else { %>
        <% if(searched_content.length === 1) { %>
        <p class="check">Description found.</p>
        <% } else { %>
        <p class="check">Descriptions found.</p>
        <% } %>
        <% searched_content.forEach(searched => { %>
        <input id="gestisci_id" name="gestisci_id" type="hidden" value="<%= searched.id %>">
        <div class="border-bottom pt-3 row justify-content-left">
          <div class="col-sm-10">
            <h5>
              <form action="/community/<%= searched.id %>" method="get">
                <button class="invisible-button blue ps-0 pe-0 pt-0 pb-0" type="submit">
                  <%= searched.descrizione %>
                </button>
              </form>
            </h5>
            <p>
              <%= searched.nome_topic %>
            </p>
          </div>
          <div class="col-sm-2">
            <% if(!user) { %>
            <h5>
              <%= searched.like %> <i class="fa-regular fa-heart"></i>
            </h5>
            <% } else { %>
            <% let like = false; %>
            <% likedContents.forEach(liked => { %>
            <% if(liked.id_utente === user.id && liked.id_gestisce === searched.id) { %>
            <% like = true; %>
            <% } %>
            <% }); %>
            <h5>
              <span class="like-count"><%= searched.like %></span>
              <form action="/community/like" method="post" style="display:inline;">
                <input type="hidden" name="gestisci_id" value="<%= searched.id %>">
                <input type="hidden" name="like" value="<%= !like %>">
                <input type="hidden" name="page" value="<%= currentPage %>">
                <input type="hidden" name="description" value="<%= description_query %>">
                <button class="like-button" type="submit">
                  <i class="fa-<%= like ? 'solid' : 'regular' %> fa-heart <%= like ? 'like' : 'switch-color' %>"></i>
                </button>
              </form>
            </h5>
            <% } %>
            <p>
              <%= new Date(searched.chiusura_ticket * 1000).toLocaleDateString(undefined, { day: '2-digit', month: '2-digit', year: 'numeric' }); %>
            </p>
          </div>
        </div>
        <% }); %>
        <% } %>
      </section>
      <!-- PAGE SELECTOR -->
      <% if (totalPages > 1) { %>
      <nav aria-label="Page navigation example" class="pt-4">
        <ul class="pagination justify-content-center justify-content-end">
          <% if (currentPage > 1) { %>
          <li class="page-item">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage - 1 %>&description=<%= description_query %>" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <% } else { %>
          <li class="page-item disabled">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage - 1 %>&description=<%= description_query %>" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <% } %>

          <% for (let i = 1; i <= totalPages; i++) { %>
          <% if (i === currentPage) { %>
          <li class="page-item disabled"><a class="page-link blue bold border-color-pagination"><%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link border-color-pagination" href="/community/?page=<%= i %>&description=<%= description_query %>"><%= i %></a></li>
          <% } %>
          <% } %>

          <% if (currentPage < totalPages) { %>
          <li class="page-item">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage + 1 %>&description=<%= description_query %>">Next</a>
          </li>
          <% } else { %>
          <li class="page-item disabled">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage + 1 %>&description=<%= description_query %>">Next</a>
          </li>
          <% } %>
        </ul>
      </nav>
      <% } %>
      <% } else { %>
      <!-- TICKET AND DESCRIPTION -->
      <section>
        <% descriptions.forEach(description => { %>
        <input id="gestisci_id" name="gestisci_id" type="hidden" value="<%= description.id %>">
        <div class="border-bottom pt-3 row justify-content-left">
          <div class="col-sm-10">
            <h5>
              <form action="/community/<%= description.id %>" method="get">
                <button class="invisible-button blue ps-0 pe-0 pt-0 pb-0" type="submit">
                  <%= description.descrizione %>
                </button>
              </form>
            </h5>
            <p>
              <%= description.nome_topic %>
            </p>
          </div>
          <!-- LIKE LOGIC -->
          <div class="col-sm-2">
            <% if(!user) { %>
            <h5>
              <%= description.like %> <i class="fa-regular fa-heart"></i>
            </h5>
            <% } else { %>
            <% let like = false; %>
            <% likedContents.forEach(liked => { %>
            <% if(liked.id_utente === user.id && liked.id_gestisce === description.id) { %>
            <% like = true; %>
            <% } %>
            <% }); %>
            <h5>
              <span class="like-count"><%= description.like %></span>
              <form action="/community/like" method="post" style="display:inline;">
                <input type="hidden" name="gestisci_id" value="<%= description.id %>">
                <input type="hidden" name="like" value="<%= !like %>">
                <input type="hidden" name="page" value="<%= currentPage %>">
                <input type="hidden" name="description" value="<%= description_query %>">
                <button class="like-button" type="submit">
                  <i class="fa-<%= like ? 'solid' : 'regular' %> fa-heart <%= like ? 'like' : 'switch-color' %>"></i>
                </button>
              </form>
            </h5>
            <% } %>
            <p>
              <%= new Date(description.chiusura_ticket * 1000).toLocaleDateString(undefined, { day: '2-digit', month: '2-digit', year: 'numeric' }); %>
            </p>
          </div>
        </div>
        <% }); %>
      </section>
      <!-- PAGE SELECTOR -->
      <% if (totalPages > 1) { %>
      <nav aria-label="Page navigation example" class="pt-4">
        <ul class="pagination justify-content-center justify-content-end">
          <% if (currentPage > 1) { %>
          <li class="page-item">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage - 1 %>" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <% } else { %>
          <li class="page-item disabled">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage - 1 %>" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <% } %>

          <% for (let i = 1; i <= totalPages; i++) { %>
          <% if (i === currentPage) { %>
          <li class="page-item disabled"><a class="page-link blue bold border-color-pagination"><%= i %></a></li>
          <% } else { %>
          <li class="page-item"><a class="page-link border-color-pagination" href="/community/?page=<%= i %>"><%= i %></a></li>
          <% } %>
          <% } %>

          <% if (currentPage < totalPages) { %>
          <li class="page-item">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage + 1 %>">Next</a>
          </li>
          <% } else { %>
          <li class="page-item disabled">
            <a class="page-link border-color-pagination" href="/community/?page=<%= currentPage + 1 %>">Next</a>
          </li>
          <% } %>
        </ul>
      </nav>
      <% } %>
      <% } %>
      <!-- SINGLE DESCRIPTION -->
      <% } else { %>
      <div class="word-break">
        <h3 class="nl text-break"><%= description_content.descrizione %></h3>
      </div>
      <section class="border-bottom mb-3">
        <p class="mb-1 nl small"><a class="link" href="/community">← Go back</a>  <span class="align-middle">•</span>  Topic: <%= description_content.nome_topic %>  <span class="align-middle">•</span>  Publish: <%= new Date(description_content.chiusura_ticket * 1000).toLocaleDateString(undefined, { day: '2-digit', month: '2-digit', year: 'numeric' }); %></p>
      </section>
      <h4>Problem solution</h4>
      <p class="nl large"><%= description_content.commento %></p>
      <!-- LIKE LOGIC -->
      <% if(!user) { %>
      <h5>
        <%= description_content.like %> <i class="fa-regular fa-heart"></i>
      </h5>
      <% } else { %>
      <% let like = false; %>
      <% if(likedContents) { %>
      <% like = true; %>
      <% } %>
      <h5>
        <span class="like-count"><%= description_content.like %></span>
        <form action="/community/like" method="post" style="display:inline;">
          <input type="hidden" name="gestisci_id" value="<%= description_content.id %>">
          <input type="hidden" name="like" value="<%= !like %>">
          <input type="hidden" name="single_ticket" value="1">
          <button class="like-button" type="submit">
            <i class="fa-<%= like ? 'solid' : 'regular' %> fa-heart <%= like ? 'like' : 'switch-color' %>"></i>
          </button>
        </form>
      </h5>
      <% } %>
      <% } %>
    </div>
  </main>
  <!-- FOOTER -->
  <%- include('includes/footer.ejs') %>
  <!-- SCRIPTS-->
  <%- include('includes/scripts.ejs') %>
</body>

</html>