<%- include('includes/head.ejs') %>

<body>
<!-- HEADER -->
<%- include('includes/header.ejs') %>
<!-- CONTENT -->
<main>
    <div class="container">
        <h1 class="mb-4">My tickets</h1>
        <% if (!user) { %>
            <p class="mb-4">To see all your closed tickets, you must first <a class="link blue-text"
                                                                              href="/signup?return=my-tickets">register</a>
                or
                <a class="link blue-text"
                   href="/login?return=my-tickets">login.</a></p>
        <% } else { %>
            <!-- IF USER HAVE NO TICKET -->
            <% if (num_tickets.num_user_ticket == 0) { %>
                <p>You don't have any ticket. To open a ticket, go to <a class="link blue-text"
                                                                         href="/open-ticket">Open ticket</a>.</p>
                <!-- IF USER HAVE AT LEAST A ONE TICKET -->
            <% } else { %>
                <!-- TESTING --><!-- <p>You have ticket!</p> <%= num_tickets.num_user_ticket %> -->
                <h4>Open tickets:</h4>
                <section>
                    <div class="container text-center pb-5 ps-0 pe-3">
                        <div class="row justify-content-left ms-0">
                            <!-- FOREACH DI OGNI TICKET -->
                            <% tickets.forEach(function(ticket) { %>
                                <div class="col-sm-5 text-start me-4 ps-0 mt-4">
                                    <div class="container ticket-container ps-4 pe-4">
                                        <h5 class="pt-3">TOPIC</h5>
                                        <p>
                                            <%= ticket.nome_topic %>
                                        </p>
                                        <h5>DESCRIPTION</h5>
                                        <p class="nl"><%= ticket.descrizione %></p>
                                        <h5>STATUS</h5>
                                        <p>
                                            <%= ticket.stato %>
                                        </p>
                                        <h5>TICKET OPEN DATE</h5>
                                        <p>
                                            <!-- CONVERT EPOCH DATE INTO HUMAN DATE -->
                                            <%= new Date(ticket.data_apertura *
                                                    1000).toLocaleString(); %>
                                        </p>
                                        <h5>TICKET ID</h5>
                                        <p>
                                            <%= ticket.id %>
                                        </p>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </section>
            <% } %>
        <% } %>
    </div>
</main>
<!-- FOOTER -->
<%- include('includes/footer.ejs') %>
<!-- SCRIPTS-->
<%- include('includes/scripts.ejs') %>
</body>

</html>