<%- include('includes/head.ejs') %>

    <body>
        <!-- HEADER -->
        <%- include('includes/header.ejs') %>
            <!-- CONTENT -->
            <main>
                <div class="container">
                    <h2>Open a ticket</h2>
                    <% if (!user) { %>
                        <p>To open a ticket, you must first <a class="link blue-text" href="/signup">register</a>.</p>
                        <% } else { %>
                            <!-- FORM -->
                            <!-- ACTION DA FARE! -->
                            <form id="new-ticket" action="/" method="post">
                                <!-- EMAIL FIELD -->
                                <section class="mb-3">
                                    <label class="bold" for="email">E-mail</label>
                                    <input id="email" name="email" type="text" autocomplete="email"
                                        placeholder=<%=user.email %> disabled>
                                </section>
                                <!-- TOPIC FIELD -->
                                <section class="mb-3">
                                    <label class="bold" for="topic">Topic:</label>
                                    <select name="topic" id="topic">
                                        <% topics.forEach(function(topic) { %>
                                            <option value="<%= topic.nome %>" title="<%= topic.descrizione %>">
                                                <%= topic.nome %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </section>
                                <!-- ISSUE DESCRIPTION PASSWORD -->
                                <section class="mb-3">
                                    <p><label class="bold" for="description">Describe your issue:</label></p>
                                    <textarea class="form-control" name="description" id="description" rows="7" cols="50" maxlength="1000" placeholder="Give us more information..." required></textarea>
                                    <div style="margin-top: 0.25rem; text-align: left" id="counter">0</div>
                                </section>
                                <!-- SIGN IN BUTTON -->
                                <button class="log-button font" id="sign-in-submit" type="submit">Sign in</button>
                                <!-- INCORRECT USERNAME OR PASSWORD ERROR -->
                                <span class="error-username-password">
                                    <% if (typeof message !=='undefined' && message !=null) { %>
                                        <%= message %>
                                            <% } %>
                                </span>
                            </form>
                            <% } %>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('includes/footer.ejs') %>
                <!-- SCRIPTS-->
                <%- include('includes/scripts.ejs') %>
    </body>

    </html>