<%- include('../includes/head.ejs') %>

<body>
<!-- HEADER -->
<%- include('../includes/staff/header_staff.ejs') %>
<!-- CONTENT -->
<main>
    <div class="container">
        <h1>Closed tickets</h1>
        <% if (num_closed_tickets.closed_tickets === 0) { %>
            <!-- LINK TO PAGE -->
            <p>To see the ticket, you must first manage one.</p>
            <p>Click <a class="link blue-text" href="/view_tickets">here</a> to see.</p>
        <% } else { %>
            <!-- SEARCH TICKETS -->
            <section>
                <div class="container ms-0 ps-0 mb-3">
                    <form action="/closed_tickets" method="get">
                        <label class="bold me-2" for="email">Search ticket by user email: </label>
                        <input class="shadow-box border in-w me-2" id="email" name="email" type="text"
                               autocomplete="email"
                               required>
                        <input class="send-button ms-2" name="operation_type" type="submit" value="Search tickets"
                               title="Search ticket by user email.">
                    </form>
                    <% if (searched_tickets !== undefined) { %>
                        <% if (searched_tickets.length === 0) { %>
                            <p class="error">No tickets found.<%= searched_tickets %> </p>
                        <% } else { %>
                            <p class="check">Tickets found: <%= searched_tickets.length %></p>
                            <div class="container pb-4 ps-0">
                                <div class="row justify-content-left ms-0">
                                    <!-- FOREACH DI OGNI TICKET -->
                                    <% searched_tickets.forEach(function(ticket) { %>
                                        <div class="col-sm-6 text-start ps-0 mt-2">
                                            <div class="container ticket-container ps-4 pe-4">
                                                <h5 class="pt-3">TICKET ID</h5>
                                                <p>
                                                    <%= ticket.id_ticket %>
                                                </p>
                                                <h5>USER EMAIL</h5>
                                                <p>
                                                    <%= ticket.email %>
                                                </p>
                                                <h5>TICKET STATUS</h5>
                                                <p>
                                                    <%= ticket.stato %>
                                                </p>
                                                <h5>CLOSED TICKET DATE</h5>
                                                <p>
                                                    <%= new Date(ticket.chiusura_ticket * 1000).toLocaleString(); %>
                                                </p>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </section>
            <!-- ALL CLOSED TICKETS -->
            <section>
                <h4>SOLVED TICKETS</h4>
                <% if (resolved_tickets.length === 0) { %>
                    <p>There's no solved tickets.</p>
                <% } else { %>
                    <div class="container pb-4 ps-0">
                        <div class="row justify-content-left ms-0">
                            <!-- FOREACH DI OGNI TICKET -->
                            <% resolved_tickets.forEach(function(ticket) { %>
                                <div class="col-sm-6 text-start ps-0 mt-2">
                                    <div class="container ticket-container ps-4 pe-4">
                                        <h5 class="pt-3">TICKET ID</h5>
                                        <p>
                                            <%= ticket.id_ticket %>
                                        </p>
                                        <h5>USER EMAIL</h5>
                                        <p>
                                            <%= ticket.email %>
                                        </p>
                                        <h5>CLOSED TICKET DATE</h5>
                                        <p>
                                            <%= new Date(ticket.chiusura_ticket * 1000).toLocaleString(); %>
                                        </p>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% } %>
            </section>
            <section>
                <h4>CLOSED TICKETS</h4>
                <% if (closed_tickets.length === 0) { %>
                    <p>There's no closed tickets.</p>
                <% } else { %>
                    <div class="container pb-4 ps-0">
                        <div class="row justify-content-left ms-0">
                            <!-- FOREACH DI OGNI TICKET -->
                            <% closed_tickets.forEach(function(ticket) { %>
                                <div class="col-sm-6 text-start ps-0 mt-2">
                                    <div class="container ticket-container ps-4 pe-4">
                                        <h5 class="pt-3">TICKET ID</h5>
                                        <p>
                                            <%= ticket.id_ticket %>
                                        </p>
                                        <h5>USER EMAIL</h5>
                                        <p>
                                            <%= ticket.email %>
                                        </p>
                                        <h5>CLOSED TICKET DATE</h5>
                                        <p>
                                            <%= new Date(ticket.chiusura_ticket * 1000).toLocaleString(); %>
                                        </p>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% } %>
            </section>
            <section>
                <h4>CANCELLED TICKETS</h4>
                <% if (cancelled_tickets.length === 0) { %>
                    <p>There's no cancelled tickets.</p>
                <% } else { %>
                    <div class="container pb-4 ps-0">
                        <div class="row justify-content-left ms-0">
                            <!-- FOREACH DI OGNI TICKET -->
                            <% cancelled_tickets.forEach(function(ticket) { %>
                                <div class="col-sm-6 text-start ps-0 mt-2">
                                    <div class="container ticket-container ps-4 pe-4">
                                        <h5 class="pt-3">TICKET ID</h5>
                                        <p>
                                            <%= ticket.id_ticket %>
                                        </p>
                                        <h5>USER EMAIL</h5>
                                        <p>
                                            <%= ticket.email %>
                                        </p>
                                        <h5>CLOSED TICKET DATE</h5>
                                        <p>
                                            <%= new Date(ticket.chiusura_ticket * 1000).toLocaleString(); %>
                                        </p>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% } %>
            </section>
        <% } %>
    </div>
</main>
<!-- FOOTER -->
<%- include('../includes/staff/footer_staff.ejs') %>
<!-- SCRIPTS-->
<%- include('../includes/scripts.ejs') %>
</body>

</html>